In [4]:
import pandas as pd
import random

In [5]:
#importing CSV file with all the movies I own
#columns in the file include "Title", "Watchability", and "Gener"
    #Title is the movie title for each movie
    #Watchability is if I consider the movie an easy, medium, or hard movie to watch
        #Easy is something I watch all the time and do not need tot concentrate while watching 
        #Medium is something I watch every know and then but not too often 
        #Hard is something I either never watch, something that requires a lot of attention, or a long, time consuming movie
        #Genre includes Action, Animated, Comedy, Drama, Horror, Romantic Comedy, and Super Hero 
movies = pd.read_csv('Movies_we_own.csv')

In [6]:
#shows the first 5 rows (Title, Watchability, Genre)
#not sure why it added three extra columns
movies.head()

                        Title Watchabilitty            Genre
0                          21          Hard            Drama
1                         300          Hard           Action
2  10 things I hate about you        Medium  Romantic Comedy
3                   12 Rounds          Hard           Action
4            2 Fast 2 Furious        Medium           Action

In [7]:
#List of the all the movie titles
Title_Movie = movies.Title

In [8]:
#Realizing my column Watchabilitty is misspelled with too many Ts at the end. Really need to get my 
#laptop's butterfuly keyboard fixed! 
#List of all the movies watchability
Watchability = movies.Watchabilitty

In [9]:
#List of all the movies genres 
Genre = movies.Genre

In [10]:
#This function will help on nights my Husband and myself cannot decide on a movie
random.choice(Title_Movie)

'Shooter'

In [11]:
#Checking to see if I already own this movie so I know whether to buy it or not 
#need to keep trying other codes so it just says True or False and does not give a list of each movie title 
('Good Dinosaur' == Title_Movie)

0      False
1      False
2      False
3      False
4      False
       ...
326    False
327    False
328    False
329    False
330    False
Name: Title, Length: 331, dtype: bool

In [12]:
#tried to get another code to work so I would just get a True or False statement but was unable to figure it out
#this code says everything is false even if the movie is listed 
'300' in (Title_Movie)

False

In [13]:
#creating a new dictionary to add to CSV
data = [{'Title': 'Good Dinosaur', 'Watchabilitty': 'Easy', 'Genre': 'Animated'}]

In [14]:
#appending the CSV with purchase of new movie
#used this link to help create the code https://kanoki.org/2019/08/03/add-new-rows-and-columns-to-pandas-dataframe/
movies.append(data,ignore_index=True)

                          Title Watchabilitty            Genre
0                            21          Hard            Drama
1                           300          Hard           Action
2    10 things I hate about you        Medium  Romantic Comedy
3                     12 Rounds          Hard           Action
4              2 Fast 2 Furious        Medium           Action
..                          ...           ...              ...
327     X-Men Origins Wolverine          Hard       Super Hero
328        X-Men The Last Stand          Hard       Super Hero
329            X2: X-Men United          Hard       Super Hero
330                  Zombieland        Medium           Comedy
331               Good Dinosaur          Easy         Animated

[332 rows x 3 columns]

In [15]:
#sorting the movies in ascending order
#meant for after appending in new movies 
movies.sort_values('Title', ascending = True)

                          Title Watchabilitty            Genre
2    10 things I hate about you        Medium  Romantic Comedy
3                     12 Rounds          Hard           Action
4              2 Fast 2 Furious        Medium           Action
0                            21          Hard            Drama
5                21 Jump Street          Easy           Comedy
..                          ...           ...              ...
326           X-Men First Class          Hard       Super Hero
327     X-Men Origins Wolverine          Hard       Super Hero
328        X-Men The Last Stand          Hard       Super Hero
329            X2: X-Men United          Hard       Super Hero
330                  Zombieland        Medium           Comedy

[331 rows x 3 columns]

In [40]:
def random_movie (movies):
    #picks a random movie from CSV file Movies_we_own
    return random.choice(Title_Movie)
    print(random_movie)

In [52]:
def add_movie (movies):
    #add newly purchased movies - Title, Watchability and Genre
    df = (Title_Movie, Watchability, Genre)
    df.append('Spider Man Homecoming', 'Medium', 'Super Hero')
    print(Movies)

In [50]:
def choose_by_genre (movies):
    #Random movie by genre
    return random.choice(Genre == Animated)
    print(choose_by_genre)

In [45]:
def movie (random_movie): 
    if input == 1:
      return random_movie()
    elif input == 2:
       return add_movie()
    elif input == 3:
       return choose_by_genre()

In [46]:
print(random_movie(1))

Huntsman: Winter's War